/* GLOBAL VARIABLES */
:root {
  --slider: #009879;
}

/* GENERAL */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #f9fbfd;
}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

/* HEADER */
header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: hsl(206, 17%, 28%);
}

/* CARD HEADER */
.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  min-width: 280px;
  padding: 30px 40px;
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-container{
  display: flex;
  flex-direction: column;
}

.card-options {
  display: flex;
  position: relative;
  align-items: center;
  margin: 5px;
}

/* PASSWORD OPTIONS */
.options {
  display: none;
}

.radio-label{
  position: relative;
  cursor: pointer;
  padding: 0 5px;
  font-size: 1rem;
}

.radio-secure{
  color: #d0cccd;
}

#simple:checked ~ .radio-simple {
  color: #555e63;
}

.face {
  position: absolute;
  width: 23px;
  height: 23px;
  background-color: white; 
  left: 61px;
  border-radius: 500px;
  transition: all 500ms;
  z-index: 1;
}

.toggle-options {
  height: 25px;
  width: 65px;
  background: #d0cccd;
  border-radius: 500px;
  transition: all 500ms;
}

.eyes {
  position: absolute;
  height: 7px;
  width: 5px;
  top: 6px;
  background: #d0cccd;
  border-radius: 500px;
  z-index: 2;
  transition: all 440ms;
}

.left-eye{  
  left: 65px;
}

.right-eye{  
  left: 74px;
}

.mouth{
  position: absolute;
  width: 18px;
  height: 10px;
  z-index: 2;
  border: 2px solid #d0cccd;
  border-radius: 30%;
  border-bottom-color: rgba(1, 1, 1, 0);
  border-right-color: rgba(1, 1, 1, 0);
  border-left-color: rgba(1, 1, 1, 0);
  top: 16px;
  left: 63px;
  transition: all 500ms;
}

#secure:checked ~ .radio-secure {
  color: #555e63;
}

#secure:checked ~ .radio-simple {
  color: #d0cccd;
}

#secure:checked ~ .face {
  left: 99px;
}

#secure:checked ~ .toggle-options {
  background: var(--slider);
}

#secure:checked ~ .eye {
  background: var(--slider);
}

#secure:checked ~ .left-eye {
  left: 103px;
  background: var(--slider);
}

#secure:checked ~ .right-eye {
  left: 112px;
  background: var(--slider);
}

#secure:checked ~ .mouth {
  border: 2px solid var(--slider);
  border-right-color: var(--slider);
  border-bottom-color: var(--slider);
  border-left-color: var(--slider);
  border-bottom-color: rgba(1, 1, 1, 0);
  border-right-color: rgba(1, 1, 1, 0);
  border-left-color: rgba(1, 1, 1, 0);
  top: 10px;
  left: 101px;
  transform: rotateX(180deg);
  border-radius: 100%;
}

/* COPY TO CLIPBOARD */
@keyframes fadeInOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}
.clipboard {
  position: absolute;
  top: 5px;
  right: 30px;
}

.clipboard-copy, 
.clipboard-mark{
  position: absolute;
  height: 25px;
  width: 25px;

}

.clipboard-copy {
  opacity: 0.5;
}

.clipboard-copy:hover {
  cursor: pointer;
  opacity: 1;
}

.hide {
  opacity: 0; 
  display: none;
}

/* CARD BODY */
.card-body {
  position: relative;
  min-height: 100px;
}

.card-footer {
  text-align: center;
}

.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.btn {
  border: none;
  background-color: hsl(360, 91%, 36%);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

.float-right {
  float: right;
}

#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 35px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}
